@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #1c9da1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;

}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-family: apple-system;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    border-radius: 12px;    
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    border-radius: 12px;
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
    width: 90%;
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
    width: 90%;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

.form{
    display: flex;
    /* justify-content: space-between; */
}

#textarea{
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #eaf8f871;
    border-radius: 12px;
    margin-right: 4px;
    padding-right: 38px;
}

/* #textarea{
    padding: 10px 20px;
    width: 200%;
    display: inline;
} */
/* 
#btn{
    margin-left: 300px;
    width: 50px;
} */
#btn{
    padding: 6px;
    border: #8F8BE8;
    border-radius: 4px;
    width: 80px;
    background-color: rgb(8, 133, 133);
    color: white;
    font-weight: 900;
}